:root{
    --primary-white-color:#ffffff;
    --secondary-bcg-color:#F5F4FA;
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --secondary-white-color:#F5F5F5;
    --accent-color:#2196F3;
    --accent-bcg-color:#188CE8;
    --logo-color:#000000;
    --hero-bcg-color:#2F303A;
    
}
body{
    color:var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
}

/* a{
    text-decoration: none;
} */

.logo{
    color:var(--logo-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-white{
    color:var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-web{
    color:var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.site-nav .link{
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link.current{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.hero{
    background-color:var(--hero-bcg-color);
}

.hero-title{
    color:var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.button{
    color:var(--title-text-color);
    background-color:var(--secondary-bcg-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
}

.hero-button{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus{
    color: var(--primary-white-color);
    background-color:var(--accent-bcg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
}

.button-list .button:hover,
.button-list .button:focus
{
    color: var(--secondary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
}

.title{
    color: var(--title-text-color);
}

.title-description{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.title-benefits{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.title-project{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.description-benefits{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.description-project{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}

.team{
    background-color:var(--secondary-bcg-color);
}

.description-member{
    background-color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
}

.name-member{
    font-weight: 500;
}

.project{
    border: 1px solid #EEEEEE;
}
.contacts{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus
{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.footer{
    background-color: var(--hero-bcg-color);
}

.address{
    color:var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-contacts{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-contacts:hover,
.address-contacts:focus
{
    color:var(--accent-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}