:root {
	--primary-white-color: #ffffff;
	--secondary-bcg-color: #f5f4fa;
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--secondary-white-color: #f5f5f5;
	--accent-color: #2196f3;
	--accent-bcg-color: #188ce8;
	--logo-color: #000000;
	--hero-bcg-color: #2f303a;
	--brand-link-color: #afb1b8;
}
body {
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
	font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	padding-top: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
.list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

.header-nav {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ececec;
}
.logo {
	color: var(--logo-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-white {
	color: var(--primary-white-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-web {
	color: var(--accent-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.site-nav {
	display: flex;
	margin-left: 93px;
}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}
.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.link.current {
	position: relative;
	color: var(--accent-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.link.current::after {
	display: flex;
	position: absolute;
	content: "";
	left: 50%;
	bottom: 0;
	width: 100%;
	height: 4px;
	transform: translate(-50%, 0%);
	border-radius: 2px;
	background-color: var(--accent-color);

	transition-property: width;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.hero {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--hero-bcg-color);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/team-work.jpg");

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-title {
	max-width: 696px;
	margin: 106px auto 30px;
	color: var(--primary-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.button {
	color: var(--title-text-color);
	background-color: var(--secondary-bcg-color);
	font-family: inherit;
	cursor: pointer;
	border: 1px solid transparent;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	border: none;
	border-radius: 4px;

	transition-property: color, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	min-width: 200px;
	padding: 10px 24px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 106px;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--accent-bcg-color);
}

.button-list {
	display: flex;
	justify-content: center;
	margin-bottom: 34px;
}

.button-list .button:hover,
.button-list .button:focus {
	color: var(--secondary-white-color);
	background-color: var(--accent-color);
}

.button-list .item:not(:last-child) {
	margin-right: 8px;
}

.button-example {
	padding: 6px 22px;
}
.project-list {
	display: flex;
	flex-wrap: wrap;
	border-radius: 4px;
}

.project {
	margin-right: 30px;
	margin-bottom: 30px;
	width: calc((100% - 2 * 30px) / 3);
}

.project-link {
	display: block;

	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-thumb{
	position: relative;
	overflow: hidden;
}
.description-project {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 63px 24px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: var(--primary-white-color);
	background-color: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}

.project:hover .description-project {
	transform: translateY(0);
}
.project-box {
	padding: 20px 24px;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.project:nth-child(3n) {
	margin-right: 0;
}

.project:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.section-works {
	padding-top: 0;
}
.title {
	color: var(--title-text-color);
}

.benefits-list {
	display: flex;
}

.title-clients {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.clients-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.clients-logo {
	display: flex;
	width: 170px;
	height: 92px;
}

.clients-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	width: 100%;
	border-radius: 4px;
	border: 1px solid var(--brand-link-color);
	fill: var(--brand-link-color);

	transition-property: border, fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
	border: 1px solid var(--accent-color);
	fill: var(--accent-color);
}

.benefits-list .item {
	width: 270px;
	margin-right: 30px;
}

.benefits-icon {
	display: flex;
	margin-bottom: 30px;
	content: "";
	height: 120px;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--secondary-bcg-color);

	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

.social-link-footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	margin-top: 20px;
}
.social-link-item {
	display: flex;
	width: 44px;
	height: 44px;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: 50%;
	fill: var(--brand-link-color);

	transition-property: fill, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link {
	background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
	fill: var(--primary-white-color);
	background-color: var(--accent-color);
}

.benefits-icon:hover,
.benefits-icon:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.benefits-list .item:last-child {
	margin-right: 0;
}
.title-description {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.work-list {
	display: flex;
}

.work-list .item {
	margin-right: 30px;
}

.item-works {
	position: relative;
}
.item-description {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 70px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--primary-white-color);
	background-color: rgba(47, 48, 58, 0.8);
}

.work-list .item:last-child {
	margin-right: 0;
}

.title-benefits {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.title-project {
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.description-benefits {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.type-project {
	color: var(--primary-text-color);
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}

.link {
	text-decoration: none;
}

.link-nav {
	display: flex;
	margin-left: auto;
}

.link-nav .item + .item {
	margin-left: 30px;
}

.team {
	background-color: var(--secondary-bcg-color);
}

.team-list {
	display: flex;
}

.team-list .item {
	margin-bottom: 0;
	margin-right: 30px;
}

.team-list .item:last-child {
	margin-right: 0;
}
.description-member {
	background-color: var(--primary-white-color);
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.03em;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;
}

.name-member {
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 10px;
}

.name-position {
	margin-bottom: 16px;
}

.contacts {
	display: flex;
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	align-items: center;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
	color: var(--accent-color);
}

.icon-contact {
	fill: currentColor;
	margin-right: 10px;

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact:hover,
.icon-contact:focus {
	fill: var(--accent-color);
}
.footer {
	display: flex;
	background-color: var(--hero-bcg-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-container {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.logo-container {
	max-width: 301px;
	padding: 0;
	margin: 0;
}
.action-social-link {
	color: var(--primary-white-color);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
}
.link-container {
	max-width: 299px;
	padding: 0;
	margin: 0;
}
.list-address {
	margin-top: 20px;
}

.list-address .item.item:not(:last-child) {
	margin-bottom: 12px;
}
.address {
	color: var(--primary-white-color);
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.address-contacts {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contacts:hover,
.address-contacts:focus {
	color: var(--accent-color);
}

.submit-container {
	max-width: 570px;
	padding: 0;
	margin: 0;
}

.submit-title {
	color: var(--primary-white-color);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
}

.submit-form {
	margin-top: 20px;
}
.email-input {
	width: 354px;
	height: 50px;
	padding-left: 16px;
	margin-right: 12px;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color:var(--primary-white-color);
	background-color: var(--hero-bcg-color);
	border-radius: 4px;
	border-color: rgba(255, 255, 255, 0.3);
	outline: none;
}

.email-input::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.submit {
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	border: none;
	border-radius: 4px;

}
.submit-button {
	display: inline;
	text-align:start;
	position: relative;
	width: 200px;
	height: 50px;
	margin: 0;
	padding-left: 28px;
	padding-right: 62px;
}

.send-icon {
	position: absolute;
	bottom: 50%;
	transform: translate(50%, 50%);
	fill: var(--primary-white-color);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color:rgba(0, 0, 0, 0.2);
	
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
	visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.1);
	opacity: 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	max-width: 528px;
	max-height: 100%;
	padding: 40px;

	background-color: var(--primary-white-color);

	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1),
	opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	overflow-y: auto;
}

.modal-close-icon {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-color: var(--primary-white-color);
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover > .close-icon {
	fill: var(--accent-color);
}

.form-title {
	text-align: center;
	margin-bottom: 12px;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}
.form-field-label {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
}

.form-field-input {
	width: 100%;
	height: 40px;
	padding: 0px 12px 0px 42px;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	outline: none;

	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-textarea {
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	outline: none;

	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	resize: none;
}
.form-field-input:focus {
	border-color: var(--accent-color);
}

.form-field-textarea:focus {
	border-color: var(--accent-color);
}

.form-field-icon {
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-input:focus + .form-field-icon {
	fill: var(--accent-color);
}

.form-field-textarea::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
}
.form-field {
	position: relative;
	margin-bottom: 10px;
}
.form-field-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
}

.form-field-checkbox {
	margin-bottom: 30px;
}

.checkbox {
	display: flex;
	position: relative;
}
.checkbox-input {
	appearance: none;
}

.checkbox-label {
	position: relative;
	padding-left: 36px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	cursor: pointer;
}

.contract-conditions {
	color: var(--accent-color);
}
.checkbox-icon {
	position: absolute;
	fill: transparent;
	top: 4px;
	left: 12px;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;

	transition-property: background-color, border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-icon {
	fill: var(--primary-white-color);
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}
.form-submit {
	display: flex;
	max-width: 200px;
	padding: 10px 52px;
	margin: 0px auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}