:root{
    --primary-white-color:#ffffff;
    --secondary-bcg-color:#F5F4FA;
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --secondary-white-color:#F5F5F5;
    --accent-color:#2196F3;
    --accent-bcg-color:#188CE8;
    --logo-color:#000000;
    --hero-bcg-color:#2F303A;
    
}
body{
    color:var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-nav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.logo{
    color:var(--logo-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-white{
    color:var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-web{
    color:var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link.current{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.hero{
    background-color:var(--hero-bcg-color);
}

.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    color:var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.button{
    color:var(--title-text-color);
    background-color:var(--secondary-bcg-color);
    font-family: inherit;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
}

.hero-button{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button:hover,
.hero-button:focus{
    color: var(--primary-white-color);
    background-color:var(--accent-bcg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.button-list .button:hover,
.button-list .button:focus
{
    color: var(--secondary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
}

.button-list .item:not(:last-child) {
    margin-right: 8px;
}

.button-example{
    padding: 6px 22px;
}
.project-list{
    display: flex;
    flex-wrap: wrap;
}

.project{
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 2*30px) / 3)
}

.project-box{
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.project:nth-child(3n){
    margin-right: 0;
}

.project:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-works{
    padding-top: 0;
}
.title{
    color: var(--title-text-color);
}

.benefits-list{
    display: flex;
}

.benefits-list .item{
    width: 270px;
    margin-bottom: 0;
    margin-right: 30px;
}

.benefits-list .item:last-child{
    margin-right: 0;
}
.title-description{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list{
    display: flex;
}

.work-list .item{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
   
}

.work-list .item:last-child{
    margin-right: 0;
}

.title-benefits{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.title-project{
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.description-benefits{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.description-project{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.link{
    text-decoration: none;
}

.link-nav{
    display: flex;
    margin-left: auto;
}

.link-nav .item + .item{
    margin-left: 40px;
}

.team{
    background-color:var(--secondary-bcg-color);
}

.team-list{
    display: flex;
}

.team-list .item {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
}

.team-list .item:last-child{
    margin-right: 0;
}
.description-member{
    background-color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
}

.name-member{
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}

.name-position{
    margin-bottom: 30px;
}

.contacts{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus
{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.footer{
    background-color: var(--hero-bcg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.list-address{
    margin-top: 28px;
}

.list-address .item.item:not(:last-child){
    margin-bottom: 12px;
}
.address{
    color:var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-contacts{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-contacts:hover,
.address-contacts:focus
{
    color:var(--accent-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}