@import './utils/variables';
@import './utils/placeholders';
@import './base/normolize';
@import './components/header';
@import './components/logo';
@import './components/hero';
@import './components/benefits';
@import './components/works';
@import './components/team';
@import './components/clients';
@import './components/portfolio';
@import './components/footer';
@import './components/modal';


