.clients {

    &__title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    
    &__link {
        display: flex;
        width: 170px;
        height: 92px;
    }
    
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $brand-link-color;
        fill: $brand-link-color;
    
        transition-property: border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            border: 1px solid $accent-color;
            fill: $accent-color;
        }
    }
}



