.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: $hero-bcg-color;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/team-work.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    max-width: 696px;
    margin: 106px auto 30px;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    color: $primary-white-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 106px;

    &:hover,
    &:focus {
        background-color: $accent-bcg-color;
    }
}

