.portfolio {

    &__button-list {
        display: flex;
        justify-content: center;
        margin-bottom: 34px;
    }
    
    &__button {
        padding: 6px 22px;
    
        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &focus {
            color: $secondary-white-color;
            background-color: $accent-color;
        }
    }
    
    &__button-item {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
    
    &__project-list {
        display: flex;
        flex-wrap: wrap;
        border-radius: 4px;
    }
    
    &__project-item {
        margin-right: 30px;
        margin-bottom: 30px;
        width: calc((100% - 2 * 30px) / 3);
    
        &:nth-child(3n) {
            margin-right: 0;
        }
    
        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }
    
    &__project-link {
        display: block;
    
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
        }
    }
    
    &__project-thumb {
        position: relative;
        overflow: hidden;
    }
    
    &__description-project {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 63px 24px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: $primary-white-color;
        background-color: $portfolio-bcg-color;
    
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ;
    }
    
    &__project-item:hover &__description-project {
        transform: translateY(0);
    }
    
    &__project-box {
        padding: 20px 24px;
        border-left: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
    }
    
    
    &__title--visually-hidden {
        position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            margin: -1px;
    }
    
    &__title-project {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    
    
    &__type-project {
        color: $primary-text-color;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    }
}