.team {
    background-color: $secondary-bcg-color;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
    }
    
    
    &__description {
        width: 100%;
        background-color: $primary-white-color;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.03em;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 4px 4px;

        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 30px) / 2);
        }
    }
    
    &__member-img {
        width: 100%;
        height: auto;
    }
    &__member {
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    &__position {
        margin-bottom: 16px;
    }
    
    &__link-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 30px;
    }
    
    &__link-item {
        display: flex;
        width: 44px;
        height: 44px;
    }
    
    &__social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 50%;
        fill: $brand-link-color;
    
        transition-property: fill, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            fill: $primary-white-color;
            background-color: $accent-color;
        }
    }
}



