.works {
    padding-top: 0;

    &__list {
        display: flex;
    }
    
    &__item {
        position: relative;
        margin-right: 30px;
    
        &:last-child {
            margin-right: 0;
        }
    }
     
    &__description {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 70px;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $primary-white-color;
        background-color: $works-bcg-color;
    }
}
