
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}



.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.button {
    color: $title-text-color;
    background-color: $secondary-bcg-color;
    font-family: inherit;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
    color: $title-text-color;
}

.title-section {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.submit {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    background-color: $accent-color;
    border: none;
    border-radius: 4px;
}